/*
 *		pywal theme template for notepadqq by threadreaper
 *		https://github.com/threadreaper
 */

.cm-s-nqqwal .CodeMirror-gutters { background: #222436 !important; }
.cm-s-nqqwal .CodeMirror-foldgutter-open, .CodeMirror-foldgutter-folded { color: #c8d3f5; }
.cm-s-nqqwal .CodeMirror-cursor { border-left: 1px solid #c8d3f5; background-color: rgba(134,225,252,0.4)}
.cm-s-nqqwal { background-color: #222436; color: #c8d3f5; }
.cm-s-nqqwal span.cm-builtin { color: #c3e88d; font-weight: bold; }
.cm-s-nqqwal span.cm-comment { color: #444a73; }
.cm-s-nqqwal span.cm-keyword { color: #ffc777; font-weight: bold; }
.cm-s-nqqwal span.cm-atom { color: #82aaff; }
.cm-s-nqqwal span.cm-def { color: #c099ff; }
.cm-s-nqqwal span.cm-variable { color: #86e1fc; }
.cm-s-nqqwal span.cm-variable-2 { color: #c099ff; }
.cm-s-nqqwal span.cm-string { color: #c3e88d; }
.cm-s-nqqwal span.cm-string-2 { color: #c3e88d; }
.cm-s-nqqwal span.cm-number { color: #c099ff; }
.cm-s-nqqwal span.cm-tag { color: #ffc777; }
.cm-s-nqqwal span.cm-property { color: #86e1fc; }
.cm-s-nqqwal span.cm-attribute { color: #86e1fc; }
.cm-s-nqqwal span.cm-qualifier { color: #82aaff; }
.cm-s-nqqwal span.cm-meta { color: #c099ff; }
.cm-s-nqqwal span.cm-header { color: #ffc777; }
.cm-s-nqqwal span.cm-operator { color: #ffc777; }
.cm-s-nqqwal span.CodeMirror-matchingbracket { box-sizing: border-box; background: transparent; border-bottom: 1px solid; }
.cm-s-nqqwal span.CodeMirror-nonmatchingbracket { border-bottom: 1px solid; background: none; }
.cm-s-nqqwal .CodeMirror-activeline-background { background: rgba(192,153,255,0.4); }
.cm-s-nqqwal div.CodeMirror-selected { background: #ffc777; }
.cm-s-nqqwal .CodeMirror-focused div.CodeMirror-selected { background: #1b1d2b); }
