
/.config/spicetify/Themes
/HyprlandScripts/ChromiumPywal
/.config/Code - OSS/Cache
/.config/Code - OSS/CachedData
/.config/Code - OSS/CachedExtensionVSIXs
/.config/Code - OSS/CachedProfilesData
/.config/Code - OSS/Code Cache
.config/Code - OSS/.org.chromium.Chromium.rygzqH
.config/Code - OSS/Cookies
.config/Code - OSS/Cookies-journal
.config/Code - OSS/Crashpad/client_id
