/.oh-my-zsh/custom
/HyprlandScripts/ChromiumPywal
/.config/kitty/kitty-old
.config/themes/active
.config/themes/dandadan/wallpapers/current
.config/themes/Gruvbox/wallpapers/current
.config/themes/red/wallpapers/current
.config/themes/red/wallpapers/current
.config/themes/HYPRPAPER/wallpapers/current
.config/themes/End4/wallpapers/current
.config/themes/dandadan/wallpapers/current
.config/themes/catppuccin/wallpapers/current
.config/hypr/hyprlock.conf.bak
.config/rofi/icons/recolored/alkiuaf.svg
.config/swaync/config.json.bak
.config/swaync/style.css.bak
.config/swaync/themes/nova-dark/central_control.css.bak
*.bak
/.config/waybar/.waybarold
/.config/waybar/Bordered
/.config/qtile/__pycache__
/X11Scripts/wal colors copied
/X11Scripts/walls
