#![enable(implicit_some)]
(
    border_width: 2,
    margin: [4, 4],
    default_border_color: "#0f241a",
    floating_border_color: "#73837A",
    focused_border_color: "#c3c8c5",
    background_color: "#0f241a",
)