$bar-bg: rgba(40, 40, 50, 0.85); // Semi-transparent dark grey
$border-radius: 50px; //14px
$padding: 8px;
$spacing: 10px;
$button-bg: rgba(60, 60, 75, 0.9);
$button-hover-bg: rgba(255, 255, 255, 0.9);
$text-color: rgba(220, 220, 230, 1);

.Bar {
    background-color: $bar-bg;
    border-radius: $border-radius;
    // padding: $padding;
    // margin: 6px;
    border: 2px solid rgba(255, 255, 255, 1);
}

button, .Workspaces button {
    background-color: $button-bg;
    color: $text-color;
    border-radius: $border-radius;
    // padding: 6px 12px;
    // margin: 0 $spacing;
    transition: all 0.2s ease-in-out;
    &:hover {
        background-color: $button-hover-bg;
        color: black;
    }
}

// .Workspaces button {
    // margin-right: $spacing; // Add spacing manually
// }

.Focused {
    background-color: $button-bg;
    // padding: 6px 12px;
    border-radius: $border-radius;
    color: $text-color;
    margin:2px 0px;
}

.SysTray, .Wifi, .AudioSlider, .Battery {
    margin-right: $spacing;
    padding: 0px 4px;
    margin: 2px 0px;
}

.AudioSlider slider {
    min-width: 6px;
    border-radius: $border-radius;
}

.Time {
    font-weight: bold;
    color: $text-color;
    padding-left: $spacing;
}
