@import url("/home/papa/.cache/wal/colors-waybar.css");

* {
    all: unset;
    font-size: 16px;
    font-weight: normal;
    color: @foreground;
}

tooltip {
    background: @background;
    border: 1.5px solid @color5;
    border-radius: 12px;
    padding: 2px 100px;
    font-family: "Firacode Mono"
}

#workspaces {
    background: @color1;
    margin: 4px 0px;
    padding: 1px 0px;
    border-radius: 15px;
    opacity: 0.9
}
#workspaces button {
    background: @color3;
    min-width: 25px;
    margin: 2px 4px;
    border-radius: 12px; /* circle */
	transition: all 0.2s ease-in-out;
    padding: 1px;
    opacity: 0.6;
}
#workspaces button:first-child {
    margin-left: 3px;
}
#workspaces button:last-child {
    margin-right: 3px;
}
#workspaces button:hover {
    opacity: 0.8;
    background: @color11;
}
#workspaces button.active { 
    background: @color11;
    min-width: 50px;
    border-radius: 12px;
    opacity: 0.9;
}
#workspaces button.urgent {
	color: @foreground;
	transition: all 0.2s ease-in-out;
}

#workspaces,#clock{
    font-family: "Heavydata Nerd Font";
}