@import url("/home/papa/.cache/wal/colors-waybar.css");

/* General styles */
* {
    font-family: "Hurmit Nerd Font", sans-serif;
    font-weight: bold;
    font-size: 16px;
}

#custom-notification {
    font-size: 17px;
    color: @foreground; /* #c7c7c8 */
    margin: 2px 0;
}

window#waybar {
    background: transparent;
    border: 2px solid @color3; /* #C3A47C */
    border-radius: 12px;
    opacity: 1;
    padding: 5px;
}

tooltip {
    background: @color0; /* #201f24 */
    color: @foreground; /* #c7c7c8 */
    font-size: 13px;
    border-radius: 7px;
    border: 2px double @color4; /* #A9A793 */
    padding: 3px;
}

/* Workspaces */
#workspaces {
    background: rgba(40, 40, 40, 0.0);
    color: @color5; /* #C7B58F */
    border-radius: 8px;
    padding: 4px;
    transition: 0.2s ease;
}

#workspaces button {
    padding: 2px 2px 2px 0px;
    background-color: transparent;
    color: @foreground; /* #c7c7c8 */
    border-radius: 12px;
    transition: 0.2s ease;
    margin: 2px 3px 2px 2px; /* Added margin for spacing */
}

#workspaces button.active {
    background: @foreground; /* #c7c7c8 */
    color: @color11; /* #C3A47C */
    padding: 2px 18px 0px 10px; /* Horizontal padding for pill shape */
    border-radius: 50px; /* Creates the pill shape */
    transition: all 0.3s ease-in-out;
    margin: 0px 4px 0px 4px;
    min-width: 18px; /* Ensures a minimum width */
    min-height: 18px; /* Minimum height for pill shape, flexible height */
}


#workspaces button:hover {
    background: none;
    color: @color6; /* #BDC3B1 */
    transition: all 0.5s cubic-bezier(.55,-0.68,.48,1.682);
}

#workspaces button.focused {
    background-color: @color2; /* #A09075 */
}


/* Tray */
#tray menu * {
    font-weight: normal;
    font-size: 14px;
    color: @foreground;
    padding: 2px 8px;
    min-height: 18px;
    margin-bottom: 2px;
    opacity: 1;
}

#tray menu separator {
    min-height: 10px;
}

/* Custom Elements */
#custom-spacer,
#custom-smallspacer {
    opacity: 0.8;
}

#custom-mouse, 
#custom-power, 
#backlight, 
#bluetooth,
#custom-cliphist {
    /* font-size: 16px; */
    padding: 4px 8px;
    /* background: rgba(40, 40, 40, 0.0); */
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 50px;
    color: @foreground; /* #c7c7c8 */
}

#custom-power {
    font-size: 15px;
    margin: 6px 0;
}

#battery {
    font-weight: normal;
    font-size: 22px;
    color: @color4; /* #A9A793 */
    padding: 4px 8px;
    background: rgba(40, 40, 40, 0.0);
}

#battery.charging,
#battery.plugged {
    color: @foreground; /* #c7c7c8 */
}

#battery.critical:not(.charging) {
    color: @color9; /* #7C847A */
}

/* Backlight & Pulseaudio Sliders */

#backlight-slider slider,
#pulseaudio-slider slider {
    background: @foreground; /* #c7c7c8 */
    border-radius:10px 10px 10px 10px;
    background-color: @foreground;
    box-shadow: none;
    min-width: 0.5px;
    min-height: 1px;
}

#backlight-slider trough,
#pulseaudio-slider trough {
    background: @color0; /* #201f24 */
    border-radius: 50px;
    min-height: 18px;
    min-width: 90px;
    padding:2px 8px 2px 2px;
    /* margin-top: -3px; */
}

#backlight-slider highlight,
#pulseaudio-slider highlight {
    background-color: @color6; /* #BDC3B1 */
    border-radius: 50px;
}

#backlight-slider,
#pulseaudio-slider{
    min-height:2px;
}

/* Notifications */
#custom-notifications,
#custom-spotify,
#custom-theme,
#custom-menu {
    color: @foreground; /* #c7c7c8 */
    /* background: rgba(40, 40, 40, 0.0); */
    background: @background;
    margin: 0;
    padding: 4px 8px;
    opacity: 0.1;
}

/* Clock */
#clock {
    color: @foreground; /* #c7c7c8 */
    font-size: 15px;
    font-weight: 900;
    font-family: "Hurmit Nerd Font";
    background: @color11;
    margin: 4px 20px;
    padding: 4px 20px;
    border: none;
    border-radius: 50px;
}

/* Network */
#network {
    color: @foreground; /* #c7c7c8 */
    font-weight: normal;
    font-size: 19px;
    padding: 4px 8px;
}

/* Custom End Sections */
#custom-l_end,
#custom-r_end,
#custom-sl_end,
#custom-sr_end,
#custom-rl_end,
#cava,
#upower#headset,
#upower {
    color: @color5; /* #C7B58F */
}

/* MPRIS */
#mpris {
    color: @foreground; /* #c7c7c8 */
    animation: repeat;
    animation-name: blink;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes blink {
    to {
        color: @color9; /* #7C847A */
    }
}

#custom-r_end {
    border-radius: 0px 7px 7px 0px;
    margin-right: 1px;
    padding: 4px 8px;
}

#custom-l_end {
    border-radius: 7px 0px 0px 7px;
    margin-left: 1px;
    padding: 4px 8px;
}

#logouticon {
    font-size: 20px;
    padding: 4px 8px;
}

/* Group Minimization */
#group-minimized {
    border-left: solid 0.5px @color3; /* #C3A47C */
    padding: 5px;
}
